<?xml version="1.0" encoding="utf-8"?>
<!-- xmlns="http://www.phonegap.com/ns/plugins/1.0"  -->
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="tmk-cordova-plugin-usb" version="0.7.0">

  <name>Tmk Cordova plugin USB - Android >= 8.1 only</name>

  <engines>
    <engine name="cordova" version=">=8.0.0"/>
  </engines>

  <asset src="www/tmk-usb.js" target="js/tmk-usb.js"/>

  <js-module src="www/tmk-usb.js" name="tmkusb">
    <clobbers target="cordova.plugins.tmkusb" />
  </js-module>

  <platform name="android">
    <!-- One instance of a plugin object is created for the life of each WebView.  -->

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="TmkUsb">
        <param name="android-package" value="tmk.cordova.plugin.usb.TmkUsb"/>
        <!-- Plugins are not instantiated until they are first referenced by a call from JavaScript, unless <param> with an onload name attribute is set to "true" in config.xml.  -->
        <param name="onload" value="true" />
      </feature>

    </config-file>

    <source-file src="android-usb/app/src/main/java/tmk/cordova/plugin/usb/TmkUsb.java" target-dir="src/tmk/cordova/plugin/usb/"/>

    <source-file src="android-usb/app/src/main/java/tmk/cordova/plugin/usb/UsbHelper.java" target-dir="src/tmk/cordova/plugin/usb/"/>

    <source-file src="android-usb/app/src/main/java/tmk/cordova/plugin/usb/ConfigurationDescriptor.java" target-dir="src/tmk/cordova/plugin/usb/"/>

    <source-file src="android-usb/app/src/main/java/tmk/cordova/plugin/usb/DeviceDescriptor.java" target-dir="src/tmk/cordova/plugin/usb/"/>
  </platform>

</plugin>